@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.slick-prev::before, .slick-next::before {
  color: rgb(0, 132, 255) !important; /* 矢印アイコンの色を白に設定 */
  font-size: 24px !important; /* 矢印アイコンのサイズを設定 */
}

.slick-prev:hover, .slick-next:hover {
  color: rgb(0, 50, 255) !important; /* ホバー時の背景色を少し暗くする */
}
